= form_for(@question) do |f|
  - if @question.errors.any? 
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from beging saved:
      %ul
        - @questions.errors.full_messages.each do |msg|
          %li
            = msg

  = f.hidden_field :lat
  = f.hidden_field :lng
  = f.label :title 
  .question_smalltext (Character Limit: 255)
  %br
  = f.text_area :title, :rows => 1
  = f.label :location
  .question_smalltext (Character Limit: 100)
  %br
  = f.text_area :location, :rows=>1, :placeholder=>''
  #form_map_canvas
  = f.label :description
  .question_smalltext (Character Limit: 800)
  %br
  = f.text_area :description, :rows=>3
  = f.label "Upload a picture:"
  = f.file_field :picture
  %br
  %br
  .row
    .span2
      = f.label 'Post anonymously'
    .span1 
      = f.check_box :anonymous 
  = f.submit 'Create Your Question', :class => 'btn' 
  = f.label 'Categories' 
       

  = form_tag("/categories", :method => 'post') do
    = autocomplete_field_tag 'category', '', questions_autocomplete_category_name_path, :size => 75
    
  = form_tag("/categories", :method => 'post') do 
    = autocomplete_field_tag 'category 1', '', questions_autocomplete_category_name_path, :size => 75 
    
  = form_tag("/categories", :method => 'post') do 
    = autocomplete_field_tag 'category 2', '', questions_autocomplete_category_name_path, :size => 75 
    
  
     
