<script type="text/javascript">
	function replyDiv(id)
	{   if($('#reply_' + id + '.responseForm').is(":visible"))
			$('#reply_' + id + '.responseForm').hide();
		else
			$('#reply_' + id + '.responseForm').show();
	}
	
	function voteUp(id)
	{
		params = {"response_id":id};
		$.get("response_templates/upvote", params, function (data) { 
			alert("voted up!");
			document.location.reload(true);
		} );
	}
	function voteDown(id)
	{  
		params = {"response_id":id};
		$.get("response_templates/downvote", params, function (data) { 
			alert("voted down!");
			document.location.reload(true);
		} );
	}
	function reply()
	{
	 
	}
</script>

<style type="text/css">
.jenkBorder {
	background-color: white;
	border-bottom-color: #BEBEBE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
</style>




			<div class="row">
				<div class="span7" id="contentView_leftPane">
					<h1><%= @question.title %> </h1>
					<ul class ="nav nav-pills">
						<li><a href="#">Subscribe</a></li>
						<li><a href="#">Generate QR Code</a></li>
						<li><a href="#">Email</a></li>
					</ul>
					<img src="/assets/dummy_carousel.png" width="190" height="126" align="left" style="margin:0px 10px" />
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio. Nulla cursus tempus odio et ornare. Fusce posuere, lorem sed vulputate gravida, odio purus tincidunt velit, eleifend laoreet erat quam nec risus. Fusce mauris enim, ultricies a mattis in, consectetur a purus. Nullam lacinia lectus vitae mauris interdum non convallis mi mattis. Vestibulum felis quam, viverra sit amet fermentum eu, tristique et neque. Quisque at vestibulum mauris. Morbi id nibh nisi, et consectetur urna. Etiam non mauris augue. Phasellus ullamcorper gravida justo, ut elementum lorem faucibus ac. Donec libero erat, porta at porta in, dignissim ut enim.
					<div id="contentView_responses">
						<h2>Responses</h2>
						<div class="response_sorter">
							<a href="#">hot</a> &nbsp;|&nbsp;
							<a href="#">new</a> &nbsp;|&nbsp;
							<a href="#">controversial</a> &nbsp;&nbsp;
						</div>
						<%= @responses.first.get_replies.size if @responses.first %>
						<%= render :partial => 'questions/response_tree' , :locals => {:responses => @responses, :depth => 0} %>
						<div class="span6 response_form" id="originalReply">
						<h3>Start a New Response Thread</h3><br>
						<%= form_for @response do |resp| %>
							<p><%= resp.hidden_field :parent_id %></p>
							<p><%= resp.hidden_field :item_id, :value => @question.item_template.id %></p>
							<p><%= resp.label :response %></p>
							<p><%= resp.text_area :response, :rows => 3 %></p>
							<p> <%= submit_tag 'Reply', :class => 'btn' %></p>
						<% end %>
						</div>
					</div>
				</div>
				<div class="span5" id="contentView_rightPane" style="width:340px;">
					<div id="contentView_op">
						<h3> Question By: </h3>
						<div class="row">
							<img src="http://placehold.it/56x50/" class="span1 thumbnail"/>
							<!-- thumbnail, username, send PM link -->
							<dl class="span3">
								<dt><%= @user.login %></dt>
								<dd>
									<a href="#">Send private message</a>
								</dd>
							</dl>
						</div>
					</div>
					<h3> Related Questions in <input type="text" class="span2" placeholder="Berkeley, CA"/> </h3>
					<ul class="related_list unstyled">
						<li class="row">
							<a href="#" >
							<img src="http://placehold.it/98x50" class="span2" align="left" />		
							</a>
							<div class="span3">
							<h4>Question Title</h4>							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
							</div>
						</li>
						<li class="row">
							<a href="#" >
							<img src="http://placehold.it/98x50" class="span2" align="left" />		
							</a>
							<div class="span3">
							<h4>Question Title</h4>							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
							</div>
						</li>
						<li class="row">
							<a href="#" >
							<img src="http://placehold.it/98x50" class="span2" align="left" />		
							</a>
							<div class="span3">
							<h4>Question Title</h4>							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
							</div>
						</li>
					</ul>
					<h3> Related Challenges, Events in <input type="text" class="span2" placeholder="Berkeley, CA"/> </h3>
					<ul class="related_list unstyled">
						<li class="row">
							<a href="#" >
							<img src="http://placehold.it/98x50" class="span2" align="left" />		
							</a>
							<div class="span3">
							<h4>Question Title</h4>							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
							</div>
						</li>
						<li class="row">
							<a href="#" >
							<img src="http://placehold.it/98x50" class="span2" align="left" />		
							</a>
							<div class="span3">
							<h4>Question Title</h4>							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
							</div>
						</li>
						<li class="row">
							<a href="#" >
							<img src="http://placehold.it/98x50" class="span2" align="left" />		
							</a>
							<div class="span3">
							<h4>Question Title</h4>							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
							</div>
						</li>
					</ul>

				</div>
			</div>
			
