  <div id= 'radical'>
            <% @items.each_with_index do |item, index| %>
            <br>
            <li class="row color_<%= item.producible_type %>">

                <div class="span1" >
                  <%= image_tag("BlueBackgroundPeg.png") %>
                  <div class="result_ordering">

                    <%= index %>
                  </div>
                  <img src="http://placehold.it/56x56/" class="result_img"/>
                </div>
                <div class="span6">
                  <div class="result_title">
                  &nbsp;
                  <%= item.title %> -- <%= item.producible_type %>
                  </div>
                  <div class="result_content">
                  Description: <%= item.description %>
                  <%= link_to "See More", item_path_maker(item.producible_type, item) %>
                  </div>
                </div>

            </li>
            <% end %>
      </div>
