<script type="text/javascript">
	  var letter = 0;
	  $(document).ready(function () {
  <% @items.each do |item| %>
      uluru = new google.maps.LatLng(<%= item.lat %>, <%= item.lng %>);
     marker = new google.maps.Marker({
      position: uluru,
      map: map,
      draggable: false,
    title: "look at me now!"
    });
  markers.push(marker);
  letter += 1;
  <% end %>
  });
</script>

 <% @items.each_with_index do |item, index| %>
            <br>
            <li class="row color_<%= item.producible_type %>" style="height:120px;">
			<% urlForBackgroundPeg = return_bubble_image_for_item(item) %>
                <div class="span1" >
                  <div style="background-image:url('<%= urlForBackgroundPeg %>'); background-repeat:no-repeat; width:50px; padding-left:12px; padding-top:8px; height:50px; float:left;">
                    <%= index %>
                  </div>
                  <div style="padding-top:60px;">
                    <img src="http://placehold.it/56x56/" />
                  </div>
                </div>
                <div class="span6" style="float:left;">
                  <div class="result_title">
                  &nbsp;
                  <%= item.title %> -- <%= item.producible_type %>
                  </div>
                  <div class="result_content">
                  Description: <%= item.description %>
                  <%= link_to "See More", item_path_maker(item.producible_type, item) %>
                  <br>
                  Categories: <%= item.categories %>
                  </div>
                </div>

            </li>
            <% end %>
<%= will_paginate(@items) %>