

  <div id="container">
    <div id="content">
      <h5>Showing 1-10 of 100 results</h5>

     	 <ol id="list_results" class="span8">
	          <br>
			  <% @items.each do |item| %>
	        <li>
			    single result 
				name: <%= item["title"] %>
				description: <%= item["description"] %>
			  </li>
			  <br>
			<% end %>
			<br> <%= will_paginate @items %> SIGH
	          <img src="assets/dummy_searchnav.png">
	      </ol>
		
      <div class="span3 list_panel_right">
          <img src="assets/dummy_listmapswitch.png">
          <br><br>
          <img src="assets/dummy_listmap.png">
          <br><br>


          <ul id="filter_menus">
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe1');">List By</a><br>
              <ul class="filter_elements" style="display:block;"  id="fe1">
                <li>
                   <input type="checkbox" value="Question" id="QuestionCheck"> Questions
                </li><li>
                    <input type="checkbox" value="Challenge" id="ChallengesCheck"> Challenges
                </li><li>
                   <input type="checkbox" value="Event" id="EventsCheck"> Events
                </li>
              </ul>	
			<br> 
            </li>

            <li>
              <a href="javascript:;" onmousedown="toggle_visibility('fe2');">Categories</a><br>
              <ul class="filter_elements" style="display:block;" id="fe2">
              <% @default_categories.each do |cat| %>
                <li>
                   <input type="checkbox" value="<%= cat.name %>" id="default<%= cat.id %>"> <%= cat.name %>
                </li>
              <% end %>
              </ul>
		
            </li>
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe3');">Popular</a><br>
              <ul class="filter_elements" style="display:none;"  id="fe3">
				 <% @popular_categories.each do |cat| %>
	                <li>
	                 <input type="checkbox" value="<%= cat.name %>" id="popular<%= cat.id %>"> <%= cat.name %>
	                </li>
	               <% end %>
              </ul>
            </li>
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe4');">Personal</a><br>
              <ul class="filter_elements" style="display:none;"  id="fe4">
        		  <% @my_categories.each do |cat| %>
	                <li>
	                 <input type="checkbox" value="<%= cat.name %>" id="my_categories<%= cat.id %>"> <%= cat.name %>
	                </li>
	               <% end %>
              </ul>
            </li>
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe5');">Tagged Areas</a><br>
              <ul class="filter_elements" style="display:none;"  id="fe5">
             	   <% @my_areas.each do |area| %>
	                <li>
	                 <input type="checkbox" value="<%= area.title %>" id="area<%= area.id %>"> <%= area.title %>
	                </li>
	               <% end %>
              </ul>
            </li>
          </ul>
        </div>

    </div>
    <br><br><br>
  </div>

</body>


