<script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
      type="text/javascript"></script>
<script type="text/javascript">
$(document).ready( function() {
	
	$('#tabs ul').idTabs();
	
	var params = {};
	if ('<%= @city %>' != '') {
		params['loc'] = '<%= @city %>';
		ajax_call(params);
	}
	else if ('<%= current_user %>' == '') {
		html_string = "<div id='summary_city'><input type='text' class='textbox' id='city_input' size='30'></div>";
		$('#main_content').html(html_string);
		
		var defaultBounds = new google.maps.LatLngBounds(
		  new google.maps.LatLng(-33.8902, 151.1759),
		  new google.maps.LatLng(-33.8474, 151.2631));
		var input = document.getElementById('city_input');
		var options = {
		  bounds: defaultBounds,
		  types: ['geocode']
		};

		autocomplete = new google.maps.places.Autocomplete(input, options);
		
		$('#city_input').bind('keypress', function(e) {
			if (e.keyCode == 13) {
				loc = $('#city_input').val();
				$('#summary_city').hide();
				params['loc'] = loc;
				ajax_call(params);
			}
		});
	} else {
		ajax_call(params);	
	}
	
	var defaultBounds = new google.maps.LatLngBounds(
	  new google.maps.LatLng(-33.8902, 151.1759),
	  new google.maps.LatLng(-33.8474, 151.2631));
	var input = document.getElementById('location');
	var options = {
	  bounds: defaultBounds,
	  types: ['geocode']
	};

	autocomplete = new google.maps.places.Autocomplete(input, options);

	$('#sort_by li, #sort_by_type li, #categories li').each( function () {
		$(this).click( function() {
			var params = {};
			
			_call(params);
		});
	});
	
	$('#uncheck').click(function() {
		$('#sort_by_type li :checked, #categories li :checked, #sort_by li :checked').each( function () {
			$(this).attr('checked', false);
		});	
		$('#keyword').attr('value', '');
		$('#date').val('');
		var params = {};
		params['types'] = ['Questions', 'Challenges', 'Events'];
		$.get('/filter', params, function(data) {
			populate_content(data);
		});
	});
	$('.follow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, true);
	});
	
	$('.unfollow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, false);
	});
	
	$('#keyword').blur( function() {
		var params = {};
		ajax_call(params);
	});
	
	$('#keyword_search').click( function() {
		var params = {};
		ajax_call(params);
	});
	
	$('#change_location').click( function() {
		var params = {};
		params['loc'] = $('#location').val();
		ajax_call(params);
	});
	
	$("#date").change(function() {
		var params = {}; 
		ajax_call(params);
	});
	
	$(window).resize(function() {
		$('#content').css('margin-left', ($(window).width()-960)/2 + 'px');
		$('#icon_title').css('margin-left', ($(window).width()-960)/2 + 'px');
		$('#user_nav').css('margin-right', ($(window).width()-960)/2 + 'px');
		$('#header_tabs').css('margin-left', ($(window).width()-960)/4 + 'px');
	});
	$('#content').css('margin-left', ($(window).width()-960)/2 + 'px');
	$('#icon_title').css('margin-left', ($(window).width()-960)/2 + 'px');
	$('#user_nav').css('margin-right', ($(window).width()-960)/2 + 'px');
	$('#header_tabs').css('margin-left', ($(window).width()-960)/4 + 'px');
});

function printIframe(id)
{
    frames[0].print();
}
function formatTitle() {
    return '<div id="print"><a href="javascript:;"><img src="../images/print.png" title="Print QR Code."></a></div>';
}

function ajax_call(params) {
	$('#uncheck').attr('checked', false);
	sort_by_checked = [];
	$('#sort_by li :checked').each( function () {
		sort_by_checked.push($(this).attr('value'));
	});
	if (sort_by_checked.indexOf('following') != -1) {
		params['following'] = true;
	}
	if (sort_by_checked.indexOf('popular') != -1) {
		params['popular'] = true;
	}
	categories_checked = [];
	$('#categories li :checked').each( function () {
		categories_checked.push($(this).attr('value'));
	});
	types_checked = [];
	$('#sort_by_type li :checked').each( function () {
		types_checked.push($(this).attr('value'));
	});
	if (categories_checked.length > 0) {
		params['category'] = categories_checked;
	}
	if (types_checked.length > 0) {
		params['types'] = types_checked;
	}
	if (!params['types']) {
		params['types'] = ['Questions', 'Challenges', 'Events'];
	}
	if ($('#keyword').attr('value') != '') {
		params['keyword'] = $('#keyword').attr('value');
	}
	if ($('#date').attr('value') != '') {
		params['timeBefore'] = $('#date').val();
	}
	//console.log(params);
	$.get('/filter', params, function(data) {
		populate_content(data);
		$('.iframe').fancybox({
			'width' : 320,
			'height' : 350,
			'autoscale': false,
			'autoDimensions': false,
			'titlePosition': 'outside',
			'titleFormat': formatTitle
		});
		$('#fancybox-wrap').click(function () {
			printIframe('fancybox-frame');
		});
	});
}

function follow_unfollow(id, type, follow) {
	var params = {};
	if (follow) {
		params['follow'] = id;
	} else {
		params['unfollow'] = id;	
	}
	params['itemz'] = type;
	ajax_call(params);
}
function draw_maps() {
	$('.entry_map img').each( function(index) {
		var address = $('#entry_address' + index).val().replace(/[\t\n\r\s]/gi, "+");
		
		var icon_url = '';
		if ($('#entry_type' + index).val() == 'Question') {
			icon_url = 'http://i41.tinypic.com/ajvugz.png';
		} else if ($('#entry_type' + index).val() == 'Challenge') {
				icon_url = 'http://i41.tinypic.com/23tsbqe.png';
		} else if ($('#entry_type' + index).val() == 'Event') {
			icon_url = 'http://i43.tinypic.com/2rhycjk.png';
		}

		$(this).attr('src', 'http://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=14&size=130x130&markers=icon:' + icon_url + '%7C' + address+'&sensor=false');
	});
}

function populate_content(content) {
	html_string = '';
	if (content.length == 0) {
		html_string += '<div class="individual">' 
			+ '<%= link_to "Be the first to ask a question,", new_question_path, :class=>"black_link" %>'
			+ ' pose a challenge, or plan an event!' 
			+ '</div>';
	}
	else {
		$.each(content, function (index, entry) {
			if (entry['type'] == 'Question') {
				html_string += '<div class="entry_main question_entry">';
			} else if (entry['type'] == 'Challenge') {
				html_string += '<div class="entry_main challenge_entry">';
			} else if (entry['type'] == 'Event') {
				html_string += '<div class="entry_main event_entry">';
			}
			html_string	+= '<div class="entry_author">';
			if (entry['type'] == 'Question') {
				if (entry['entry']['anonymous'] == 1) {
					html_string += '<%= image_tag "../images/default_avatar.png", :class=>"user_avatar", :size=>"60x60", :alt => "User avatar" %>'
						+ '<br>Anonymous<br>';
				} else {
					html_string += '<%= image_tag "../images/default_avatar.png", :class=>"user_avatar", :size=>"60x60", :alt => "User avatar" %><br>'
					+ entry['login'] + '<br>';
				}
			} else {
				html_string += '<%= image_tag "../images/default_avatar.png", :class=>"user_avatar", :size=>"60x60", :alt => "User avatar" %><br>'
				+ entry['login'] + '<br>';
			}
			html_string += entry['created_at']+ '<br></div>';
			var address = entry['address'].replace(/[\t\n\r\s]/gi, " ");
			html_string += '<div class="entry_map"><img src="http://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=14&size=130x130&markers=icon:%7C' + address+'&sensor=false"></div>';		
			html_string += '<input type="hidden" value="' + address + '" name="entry_address' + index + '" id="entry_address' + index +'">';
			html_string += '<input type="hidden" value="' + entry['type'] + '" name="entry_type' + index + '" id="entry_type' + index +'">';
			html_string += '<div class="entry_title"><b>'
			link_to_entry = '/' + entry['type'].toLowerCase() + 's/' + entry['id'];
			html_string += '<a class="black_link" href="' + link_to_entry + '">' + entry['entry']['title'] + '</a></b></div>';
			html_string += '<div class="category_share">' + entry['category'] + ' | ';
			current_user ='<%= current_user %>';
			if (current_user == '') {
				html_string += '<a href="/login" class="black_link"> Share </a> | ';
			} else {
				html_string += '<a href="mailto:?subject=[City%20Sandbox]%20' + entry['current_user'] + '%20has%20shared%20a%20link%20with%20you!&body=' + entry['url'] + '" class="black_link" id="share"> Share </a> | ';
			}
			html_string += '<a href="/qr?format=' + entry['url'] +'&title=' + entry['entry']['title'] + '" class="iframe black_link">QR</a> | ';
			if (entry['followed']) {
				html_string	+= '<a class="black_link unfollow" href="javascript:;" name="' + entry['id'] + '+' + entry['type'] + '">Unfollow</a></div>';	
			} else {
				html_string	+= '<a class="black_link follow" id="follow" href="javascript:;" name="' + entry['id'] + '+' + entry['type'] + '">Follow</a></div>';		
			}
			if (entry['type'] == 'Question' && entry['latest_response']) {
				html_string +='<div class="latest_response"><i>Latest Response: </i>' + entry['latest_response'] + '</div>';
			}
			if (entry['type'] == 'Challenge') {
				if (entry['description'].length > 0) {
					html_string +='<div class="latest_response">' + entry['description'] + '</div>';
				}
				html_string += '<div id="challenge_dates"><ul><li><b> Submission Deadline: </b>' + entry['submission_deadline'] + '</li>'
					+ '<li><b> Vote Deadline: </b>' + entry['vote_deadline'] + ' </li></ul></div>';
			}
			if (entry['type'] == 'Event') {
				html_string += '<div id="challenge_dates"><ul><li><b>Submission Deadline: </b>' + entry['date'] + '</li></ul></div>';
			}
			html_string += '<div class="entry_stats"><ul>';
			
			$.each(entry['stats'], function(key, value) {
				html_string += '<li>' + value + ' ' + key;
				html_string += (value == 1) ? '</li>' : 's</li>';
			});
			html_string += '</ul></div></div><br>';
		});
	}
	$('#main_content').html(html_string);
	
	$('.follow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, true);
	});
	
	$('.unfollow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, false);
	});
	draw_maps();
}

</script>
<div id='content'>
<div id='sidebar'>
<div id='filters_content'>
	<b>SORT ITEMS BY</b>	
	<br>
	<ul id='sort_by'>
	<!--<li>
	  <%= check_box_tag 'sort', 'recent' %> Most Recent
	</li>-->
	<li>
	  <%= check_box_tag 'sort', 'popular' %> Most Popular
	</li>
	<li>
	 <%= check_box_tag 'sort', 'following' %> Following
	</li>
	</ul>
	<br>
	<b>SORT BY TYPE</b>
	<ul id='sort_by_type'>
	<li>
	  <%= check_box_tag 'sort', 'Questions' %> <font color='#307D7E'>Questions</font>
	</li>
	<li>
	  <%= check_box_tag 'sort', 'Challenges' %> <font color='#728FCE'>Challenges</font>
	</li>
	<li>
	 <%= check_box_tag 'sort', 'Events' %> <font color='#7d312f'>Events</font>
	</li>
	</ul>
	<br>
	<b>KEYWORD SEARCH</b>
	<br>
	<input type='text' class='textbox' id='keyword' size='20'>
	<br>
	<button id="keyword_search" type="button">Search</button>
	<br>
	<br>
	<b>LOCATION</b>
	<br>
	<input type='text' class='textbox' id='location' size='20'>
	<br>
	<button id="change_location" type="button">Change Location</button>
	<br><br>
	<b>SHOW ITEMS FROM</b>
	<select id="date" >
		<option value="">All Time</option>
  		<option value="1">1 Day Ago</option>
		<option value="7">1 Week Ago</option>
		<option value="30">1 Month Ago</option>
		<option value="60">2 Months Ago</option>
		<option value="90">3 Months Ago</option>
	</select>
	<br><br>
	<b>VIEW CATEGORIES</b>
	<ul id='categories'>
	<% for category in Categories.find(:all) %>
	<li>
	  <%= check_box_tag 'category', category.id %>
	  <%= category.category %>
	</li>
	<% end %>
	</ul>
	<br>
	<div id='uncheck_div'>
	<button type="button" id='uncheck'>Uncheck All</button>
	</div>
</div>
</div>
<div id='main_content'>
</div>
</div>