<style type="text/css">
  #challenge_submission_deadline_1i{
  width:80px;
  }
</style>

<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>
      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :question_id %>
  <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>
  <p>
    <%= f.label :title %>
    <br>
    <%= f.text_area :title, :rows=>3 %>
  </p>
  <p>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, :rows=>3 %>
  </p>
  <p>
    <%= f.label :location %>
    <br>
    <%= f.text_area :location, :rows=>2 %>
    <br>
    <div id="map_canvas"></div>
  </p>
  <p>
      <%= f.label :threshold , "Number needed to start event/challenge:" %>
    <br>
      <%= f.text_area :minimum_to_run , :rows => 1%>
  </p>
  <p>
      <%= f.label :submission_deadline, "Submission Deadline" %>
    <br>
      <%= f.datetime_select :submission_deadline, :style => 'width:80px;', :class => 'selectSmall' %>
  </p>
  <p>
      <%= f.label :vote_deadline , "Vote Deadline" %>
    <br>
      <%= f.datetime_select :vote_deadline, :style => 'width:80px;', :class => 'selectSmall' %>
  </p>
  <p>
    <%= f.label 'Categories' %>
    <br>
    <%= f.text_area :categories, :rows => 1 %>
  </p>

  <%= submit_tag 'Create Your Challenge', :class => 'btn' %>
</div>
<% end %>
