!!!
%html
  %head
    %title AppCivist
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags 
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, user-scalable=no'}


  %body{:class => [params[:controller]]}
    #container
      = render :partial => 'layouts/navbar'  

      = yield


  = render :partial => 'layouts/footer', :class=>'footer'

